
.button {
    background-color: #3483fa;
    border: none;
    color: white;
    padding: 0.8rem 1.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.2s;
}

.button:hover {
    background-color: #2968c8;
}

.button.red {
    background-color: #dc3545;
}
