.footer {
  background-color: #eeeeee;
  color: #333;
  font-size: 0.95rem;
  margin-top: 2rem;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  border-top: 1px solid #ccc;
}

.footer h4 {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #111;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer ul li {
  margin-bottom: 0.5rem;
}

.footer ul li a {
  color: #333;
  text-decoration: none;
  transition: color 0.2s;
}

.footer ul li a:hover {
  color: #3483fa;
}

.social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.social-icons a {
  font-size: 1.2rem;
  color: #333;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #3483fa;
}

.footer-bottom {
  text-align: center;
  padding: 1rem;
  background-color: #ddd;
  font-size: 0.85rem;
  border-top: 1px solid #ccc;
}

/* Responsivo */
@media (max-width: 768px) {
  .footer-section {
  text-align: center;
  align-items: center;
}
  .footer-container {
    align-self: center;
    padding: 1.5rem 0.5rem;
    gap: 1.5rem;
  }

  .footer h4 {
    font-size: 0.95rem;
  }

  .footer ul li {
    margin-bottom: 0.4rem;
  }

  .social-icons a {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
    gap: 1rem;
  }

  .footer h4 {
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
  }

  .footer ul li {
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
  }

  .social-icons {
    justify-content: flex-start;
  }

  .social-icons a {
    font-size: 1rem;
  }

  .footer-bottom {
    font-size: 0.8rem;
    padding: 0.8rem 0;
  }
}
